.Room {
  width: 100vw;
  height: 100vh;
  .table {
    width: 100%;
    height: 100%;
    background: #ccc;
    position: relative;
    .myStatus {
      position: absolute;
      left: 40px;
      bottom: 40px;
    }
    .myCardsInStack {
      position: absolute;
      left: 100px;
      bottom: 200px;
      
    }
  }
}